<h1> BEAT THE BOTS </h1>

<h3>¿Humanos o Inteligencia Artificial? - Descubre quien es el mejor pronosticando la Liga MX </h3>
{% if user.is_authenticated %}
  <p>{{saludo}}</p>
  <li><a href="{% url 'logout'%}?next={{request.path}}">Desconectar a {{ user.get_username }}</a></li>
{% else %}
  <li><a href="{% url 'login'%}?next={{request.path}}">{{saludo}}</a></li>
{% endif %}
<h3> Pasos: </h3>
<li> Inscríbete a la plataforma (PROXIMAMENTE) </li>
<li> Forma un equipo : Escoge 3 BOTs e invita ilimitadamente a tus amigos. Tu serás el Capitán </li>
<li> Cada quien pronostica el resultado de los partidos de la semana (pueden pronosticar todos o solo algunos de los partidos)</li>
<li> Pon "candado" a tu pronostico para conocer los del resto del equipo (BOTS y humanos) </li>
<li><strong> Al final de la jornada el sistema calcula los puntos de cada miembro del grupo y asigna lugares</strong></li>
<li> Quien ganara en tu equipo: los BOTs o los Humanos? </li>
<li><strong> Compite ademas por ser el mejor equipo</strong></li>
<li> El Capitan puede cambiar los BOTs e invitar mas amigos </li>
<li><strong> Puedes pertenecer a varios equipos pero solo puedes hacer un pronostico por partido</strong></li>



<h3> Preguntas Frecuentes</h3>

<p><strong>
Que son los BOTs?
</strong></p>
<p>
Los BOTs son programas de inteligencia artificial integrados en el sitio. Usan estadistica para predecir el resultado de los partidos.
</p>


<p><strong>
Cuantos puntos se otorgan?
</strong></p>
<p>Los puntos se otorgan de acuerdo con una distribucion binomial de probabilidades, de acuerdo con la tabla siguiente :</p>
<p>(Horizontal Partidos Pronosticados Correctamente, Vertical Partidos Totaes Pronosticados)</p>
<p>Ejemplo: Si pronosticas 6 partidos y atinas a 4 recibes 122 puntos</p>
<table border=1>
<tr>
<td></td><td>0</td><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td><td>8</td><td>9</td>
</tr><tr>
<td>1</td><td>15</td><td>30</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
</tr><tr>
<td>2</td><td>23</td><td>23</td><td>90</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
</tr><tr>
<td>3</td><td>34</td><td>23</td><td>45</td><td>270</td><td></td><td></td><td></td><td></td><td></td><td></td>
</tr><tr>
<td>4</td><td>51</td><td>25</td><td>34</td><td>101</td><td>810</td><td></td><td></td><td></td><td></td><td></td>
</tr><tr>
<td>5</td><td>76</td><td>30</td><td>30</td><td>61</td><td>243</td><td>2430</td><td></td><td></td><td></td><td></td>
</tr><tr>
<td>6</td><td>114</td><td>38</td><td>30</td><td>46</td><td>122</td><td>608</td><td>7290</td><td></td><td></td><td></td>
</tr><tr>
<td>7</td><td>171</td><td>49</td><td>33</td><td>39</td><td>78</td><td>260</td><td>1562</td><td>21870</td><td></td><td></td>
</tr><tr>
<td>8</td><td>256</td><td>64</td><td>37</td><td>37</td><td>59</td><td>146</td><td>586</td><td>4101</td><td>65610</td><td></td>
</tr><tr>
<td>9</td><td>384</td><td>85</td><td>43</td><td>37</td><td>49</td><td>98</td><td>293</td><td>1367</td><td>10935</td><td>196830</td>
</tr>


</table>
